body {
  margin: 0;
}
.main{
width: 60%;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.bookList{
  border: 3px solid black;
  width: 100%;
}
.book{
  display: flex;
  justify-content: space-between;
}
ul{
  margin: 0;
 padding: 20px;
}
form{
  text-align: center;
}
